---
description: Universal helper functions
output-file: core.html
title: core

---

<!-- WARNING: THIS FILE WAS AUTOGENERATED! DO NOT EDIT! -->

## column helpers

In [0]:
#| echo: false
#| output: asis
show_doc(move_columns)

```python

def move_columns(
    df:DataFrame, # Input
    cols_to_move:str, # Single
    pos:int, # Target
)->DataFrame:


```

*Move one or more columns to a specified position in a DataFrame.*

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
move_columns(df, 'C', 0)

   C  A  B
0  7  1  4
1  8  2  5
2  9  3  6

In [ ]:
sample_string = 'KnotenNr. der Stücklistenposition'

In [ ]:
sample_string = sample_string.lower()
sample_string

'knotennr. der stücklistenposition'

In [ ]:
[c for c in sample_string][:10]

['k', 'n', 'o', 't', 'e', 'n', 'n', 'r', '.', ' ']

In [ ]:
[c.isalnum() for c in sample_string][:10]

[True, True, True, True, True, True, True, True, False, False]

In [ ]:
[c if c.isalnum() else '_' for c in sample_string][:10]

['k', 'n', 'o', 't', 'e', 'n', 'n', 'r', '_', '_']

In [ ]:
sample_string = "".join([c if c.isalnum() else '_' for c in sample_string])
sample_string

'knotennr__der_stücklistenposition'

In [ ]:
sample_string.split('_')

['knotennr', '', 'der', 'stücklistenposition']

In [ ]:
[o for o in filter(None, sample_string.split('_'))]

['knotennr', 'der', 'stücklistenposition']

In [ ]:
'_'.join(filter(None,sample_string.split('_')))

'knotennr_der_stücklistenposition'

In [0]:
#| echo: false
#| output: asis
show_doc(clean_string)

```python

def clean_string(
    input_string:str
):


```

*Cleans input_string*

In [ ]:
clean_string(sample_string)

'knotennr_der_stücklistenposition'

In [0]:
#| echo: false
#| output: asis
show_doc(clean_col_names)

```python

def clean_col_names(
    df:DataFrame
)->DataFrame:


```

*Returns df with clean column names by using `clean_string` on each column name.*

In [ ]:
df.head(2)

   Cust_ID. Order--Date Prdct.Name!  QTY___Ordered  Unit$Price
0       101  2024-02-01    Widget A             10       99.99
1       102  2024-02-02    Widget B             20      149.99

In [ ]:
df = clean_col_names(df)
df.head(2)

   cust_id  order_date prdct_name  qty_ordered  unit_price
0      101  2024-02-01   Widget A           10       99.99
1      102  2024-02-02   Widget B           20      149.99

## validate functions

Tests to check if we use out of scope variables inside function

In [ ]:
a = 10

In [ ]:
def my_sum(b):
    return a + b

my_sum(32)

42

In [ ]:
import inspect

In [ ]:
# inspect.getclosurevars(eval("my_sum"))
inspect.getclosurevars(my_sum)

ClosureVars(nonlocals={}, globals={'a': 10}, builtins={}, unbound=set())

In [ ]:
def my_callback(result):
    print("Cell just finished running!")

get_ipython().events.register('post_run_cell', my_callback)

Cell just finished running!

In [ ]:
get_ipython().events.unregister('post_run_cell', my_callback)

In [ ]:
import ast

Functions defined: ['check_funcs']

In [ ]:
def check_funcs(result):
    tree = ast.parse(result.info.raw_cell)
    func_names = [node.name for node in ast.walk(tree) if isinstance(node, ast.FunctionDef)]
    if func_names:
        print(f"Functions defined: {func_names}")

In [ ]:
get_ipython().events.register('post_run_cell', check_funcs)

In [ ]:
get_ipython().events.unregister('post_run_cell', check_funcs)

In [ ]:
def check_funcs(result):
    tree = ast.parse(result.info.raw_cell)
    func_names = [node.name for node in ast.walk(tree) if isinstance(node, ast.FunctionDef)]
    if func_names:
        print(f"Functions defined: {func_names}")

Functions defined: ['check_funcs']

In [ ]:
get_ipython().events.register('post_run_cell', check_funcs)

In [ ]:
get_ipython().events.unregister('post_run_cell', check_funcs)

In [ ]:
import ast
import inspect

In [ ]:
def check_global_deps(result):
    tree = ast.parse(result.info.raw_cell)
    func_names = [node.name for node in ast.walk(tree) if isinstance(node, ast.FunctionDef)]
    
    ns = get_ipython().user_ns
    for name in func_names:
        if name in ns:
            func = ns[name]
            cv = inspect.getclosurevars(func)
            if cv.globals:
                print(f"⚠️  '{name}' depends on global variables: {list(cv.globals.keys())}")

In [ ]:
get_ipython().events.register('post_run_cell', check_global_deps)

In [ ]:
def my_sum(b):
    return a + b

my_sum(32)

42

⚠️  'my_sum' depends on global variables: ['a']

In [ ]:
get_ipython().events.unregister('post_run_cell', check_global_deps)