---
description: Fill in a module description here
output-file: core.html
title: core

---

<!-- WARNING: THIS FILE WAS AUTOGENERATED! DO NOT EDIT! -->

In [0]:
#| echo: false
#| output: asis
show_doc(move_columns)

---

[source](https://github.com/MIS-Analytics/mis_core/blob/main/mis_core/core.py#L12){target="_blank" style="float:right; font-size:smaller"}

### move_columns

>      move_columns (df:pandas.core.frame.DataFrame, cols_to_move:str, pos:int)

*Move one or more columns to a specified position in a DataFrame.*

|    | **Type** | **Details** |
| -- | -------- | ----------- |
| df | DataFrame | Input |
| cols_to_move | str | Single |
| pos | int | Target |
| **Returns** | **DataFrame** |  |

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
move_columns(df, 'C', 0)

   C  A  B
0  7  1  4
1  8  2  5
2  9  3  6