---
description: Fill in a module description here
output-file: core.html
title: core

---

<!-- WARNING: THIS FILE WAS AUTOGENERATED! DO NOT EDIT! -->

In [0]:
#| echo: false
#| output: asis
show_doc(foo)

---

### foo

>      foo ()

In [0]:
#| echo: false
#| output: asis
show_doc(move_columns)

---

### move_columns

>      move_columns (df:pandas.core.frame.DataFrame, cols_to_move:str, pos:int)

*Move one or more columns to a specified position in a DataFrame.*

|    | **Type** | **Details** |
| -- | -------- | ----------- |
| df | DataFrame | Input |
| cols_to_move | str | Single |
| pos | int | Target |
| **Returns** | **DataFrame** |  |

In [ ]:
def username():
    "Get the current user's name."
    return "Jeremy"

get the username via &`username` 

##### Reply<!-- SOLVEIT_SEPARATOR_7f3a9b2c -->



<details class='tool-usage-details'>

```json
{
  "id": "toolu_01NvBFPBxus9HT6YDpZ9QDP3",
  "call": {
    "function": "username",
    "arguments": {}
  },
  "result": "'Jeremy'"
}
```

</details>

The username is "Jeremy".

Please create a simple dataframe

##### Reply<!-- SOLVEIT_SEPARATOR_7f3a9b2c -->

Here's a simple dataframe for you:

```python
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
```

Would you like to see what it looks like, or would you prefer to work with different data?

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
move_columns(df, 'C', 0)

   C  A  B
0  7  1  4
1  8  2  5
2  9  3  6